*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100%;
   
}
.header{background-color: white;
 }
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.logo{
    height: 80px;
    width: 210px;
    transform: translateX(-70px) translateY(-10px);
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    transform: :translateY(-20px)
    
}
.navbar ul li a{
    text-decoration: none;
    color: gray;
    text-transform: uppercase ;
    bottom: 20px;
    font-size: 17px;    
  
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background:#009CDE;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 17%;
    right: 16px;
    text-align: center;
    color: #fff;
}


.banner .bloque{
    width: 100%;
    position: absolute;
    top: -50;
    text-align: center;
    margin:1em;
    opacity: 0; 
    transition: all .5s ease;
    color: black;
    
    
}
.banner .bloque.activo{
    opacity: 1;
    transform: translateY(0%);
}
#slider
{
    width: 100%;
}
.carousel-caption
{
    top: 40%;
    transform: translateY(50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color: #fff;
    font-size: 46px;
}